<html>
    <head>
        <title><%=(locals.title) ? title :''%></title>
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body align='center'>
        <h1>Welcome To D2D Cloud Kitchen <h1>
            <button onClick="cancelAdd();"> Customer Database</button>
    </body>
</html>